body {
    background: #eee;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: #eee;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
.block {
	display: block;
}
.hidden{
	display: none;
}

.step {
	font-size: 24px;
}

.border1px {
	border: 1px solid #333;
}
.box-shadow {
	box-shadow: 4px 4px #ccc;
}

.dp-table {
	display: table;
	table-layout: fixed;
}
.dp-table-cell {
	display: table-cell;
}

.va-middle {
	vertical-align: middle;
}
.ta-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

#slide-1 h1 {
	font-size: 54px;
}
#slide-2 h2 {
	font-size: 44px;
}

/******************************/
/*** SETTINGS TOOLBAR ********/
/*****************************/
.settings-tool-bar {
	width: 250px;
	height: 100%;
	background: #fcfcfc;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}
.toolbar-close-button {
	position: absolute;
	top: 10px;
	right: -20px;
}
.structure-form .rows{
	margin-bottom: 15px;
}
.structure-label{
	margin-bottom: 5px;
}
/*.settings-tool-bar.closed {
	left: -250px;
}
.settings-tool-bar.opened  {
	left: 0;
}
.closed .toolbar-close-button:after {
	content: '>';
}
.opened .toolbar-close-button:after {
	content: 'x'
}*/
#structure-header-content {
	margin-top: 10px;
}
.html-structure h4 {
	margin: 0 0 5px 0;
}
input[checked="checked"]{
	text-decoration: underline;
}
#header-content,
#text-content{
	min-width: 220px;
	min-height: 60px;
}
.button {
	padding: 10px;
}
.generate-button {
	display: block;
}
#toImport{
	padding-left: 260px;
}